@import "./Variables.scss";

.container1 {
    height: 100vh;
    padding: 0 0.3rem;
    margin: 0.3rem;
}

.column1 {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 15%;
}

.content1 {
    margin-left: 5vw;
    flex:1;
    padding-top: 2.5vh;
    width: 100%;
}


.sidebar1 {

    margin-right: 0;
    position: fixed;
    height: 100vh;
    width: 15vw;
    
}