@import "../Variables.scss";

.form-forgot-password{
    display: flex;
    flex-direction: column;
    top: 35%;
    color: $primary-color;
    align-items: center;
    text-align: center;
    background-color: inherit;
    margin: 0;
    .passwor-information{
        font-size: 14px;
        margin:0 0;
        margin-bottom: 0;
        border-color: $primary-color;
    }
    div{
        display: flex;
        align-items: center;
        margin: 0;
        .user-title{
            margin:0;
        }
        .input-email{
            border-color: $primary-color;
            height: 30px;
            margin-top: 0;
            width: 90%;
           
        }
        button{
            width: 10%;
            margin-left: 20px;
            margin-right: 0;
        }
    }
    
    .input-email::placeholder{
        text-align: center;
        
    }
    .input-password{
        border-color: $primary-color;
        width:80%;
        margin-top:4px;
        

    }
    input{
        color:$primary-color;
    }
}