@import "../Variables.scss";

form{

    .user-title{
        margin-bottom: 50px;
    }

    .n-password{
        margin: 0;
    }

    input[type=password]{
        margin: 25px 0;
        color:  $primary-color;
    }
}