@import "../Variables.scss";

.advancedMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3vh 0px 0px 5vw;

    .n1 {
        font-size: 25px;
    }

    hr {
        align-self: self-start;
        width: 50vw;
        margin: 2vh 0px 2.5vh 1vw;
    }

    .inform {
        display: flex;
        flex-direction: row;
        align-self: self-start;
        justify-content: space-between;
        width: 40vw;
        margin-top:2vh ;

        input {
            width: 15vw;
            height: 2vh;
            border-radius: 30px;
            background-color: $button-color;
            border: 0px;
            padding: 0.5vh 0.8vw;
            color: $text-color;
            margin: auto 0;

        }

        #userid {
            margin-left: 1.5vw;
        }

        button {
            margin: auto 0;
            width: 8vw;
            height: 3vh;
            border-radius: 30px;
            border: 0px;
            padding: 0.5vh 0.8vw;
            text-align: center;

        }
    }

}